{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Manager</title>

    <link rel="stylesheet" href="{% static 'task_manager/bulma.min.css'%}">
    <link rel="stylesheet" href="{% static 'task_manager/style.css' %}">
</head>


<body>
    <article class="panel is-warning">
        <p class="panel-heading" style="text-align: center;">Tasks Manager</p>

        <p class="panel-tabs">
            {% for prog in programs %}
            <a href="{% url 'program_view' program_name=prog.slug %}"
                class="{% if program_name == prog.slug %}is-active{% endif %}">
                {{ prog.name }}
            </a>
            {% endfor %}
        </p>


        {%block base_content%}
        {%endblock%}


    </article>
</body>

</html>