{% extends 'task_manager/_base.html'%}
{% load static %}

{%block base_content%}


<!------------------------------------------------------------------------------------------------>
<!------------------------------ Table with running jobs------------------------------------------>
<!------------------------------------------------------------------------------------------------>

<div id="overview" class="panel-block">

    <table class="table is-bordered" id="runningJobsTable">
        <tbody>

            <tr class="tableHead">
                <th>
                    <div class="th-center">Get into<br> Job Directory</div>
                </th>
                <th>
                    <div class="th-center"> Kill the Job</div>
                </th>
                <th>
                    <div class="th-center">
                        <p>Job ID</p>
                    </div>
                </th>
                <th>
                    <div class="th-center">
                        <p>User</p>
                        <div class="select is-warning is-small">
                            <select id="userFilter" style="max-width: 4rem; border-color: lightgray;">
                                <option>All</option>
                            </select>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="th-center">
                        <p> Name</p>
                    </div>
                </th>
                <th>
                    <div class="th-center">
                        <p>Program</p>
                        <div class="select is-warning is-small">
                            <select id="programFilter" style="max-width: 4rem; border-color: lightgray;">
                                <option>All</option>
                            </select>
                        </div>
                    </div>
                </th>

                <th>
                    <div class="th-center">
                        <p>Start time</p>
                    </div>
                </th>
                <th>
                    <div class="th-center">
                        <p>End time</p>
                    </div>
                </th>
                <th>

                    <div class="th-center">
                        <p>State</p>
                        <div class="select is-warning is-small">
                            <select id="stateFilter" style="max-width: 4rem; border-color: lightgray;">
                                <option>All</option>
                            </select>
                        </div>
                    </div>

                </th>
                <th>
                    <div class="th-center">
                        <p>Running time </p>
                    </div>
                </th>

                <th>
                    <div class="th-center">
                        <p>Used CPUs</p>
                    </div>
                </th>
                <th>
                    <div class="th-center">
                        <p> Used memory</p>
                    </div>
                </th>

            </tr>
            {% for task in tasksList %}
            <tr>
                <!--<td><button class="button is-small table-button getDir">Get dir.</button></td>-->
                <td>
                    <button class="button is-small table-button getDir" data-task-id="{{ task.id }}">
                        Get dir.
                    </button>
                </td>
                <td>
                    {% if task.state == "RUNNING" and task.pid %}
                    <form method="post" action="{% url 'kill_job' task.pid %}" class="kill-form">
                        {% csrf_token %}
                        <button type="button" class="button is-small table-button killJob" data-pid="{{ task.pid }}">
                            Kill
                        </button>
                    </form>
                    {% else %}
                    Not Available
                    {% endif %}
                </td>

                <td class="tableJobID">{{task.pid}}</td>
                <td class="tableUser">{{task.user}}</td>
                <td class="tableName">{{task.file_name}}</td>
                <td class="program">{{task.program}}</td>
                <td class="startTime">
                    {{ task.start_time|date:"d.m.Y H:i" }}
                </td>
                <td class="startTime">
                    {{ task.end_time|date:"d.m.Y H:i" }}
                </td>
                <td class="state">{{task.state}}</td>
                <td class="runningTime">0:25</td>
                <td class="cpus">16</td>
                <td class="minMemory">250</td>

            </tr>
            {% endfor %}




        </tbody>
    </table>

    <article class="message is-warning is-hidden info" id="killJobInfo">
        <div class="message-header">
            <p>Info</p>
        </div>
        <div class="message-body">
            <div id="killContent">

            </div>
            <div class="buttons" style="display: flex; justify-content: center;padding-top: 2rem; ">

                <button class="button is-warning" id="yesButton">YES</button>
                <button class="button is-warning" id="cancelButton">NO</button>
            </div>
        </div>
    </article>

    <script>
        const tableUsers = document.querySelectorAll(".tableUser");
        const userList = document.getElementById("userFilter")

        const tablePrograms = document.querySelectorAll(".program");
        const programList = document.getElementById("programFilter");

        const tableStates = document.querySelectorAll(".state");
        const stateList = document.getElementById("stateFilter");




        generateProgramList();

        //-------------------- Creation of program list ---------------//
        function generateProgramList() {
            let programsList = [];

            tablePrograms.forEach((el) => {
                if (!programsList.includes(el.textContent)) {
                    programsList.push(el.textContent);

                    const newListItem = document.createElement("option");
                    newListItem.textContent = el.textContent;
                    programList.appendChild(newListItem);
                }
            });
        }



        generateUserList()

        //-------------------- Creation of user list ---------------//
        function generateUserList() {
            usersList = [];
            tableUsers.forEach((el, index) => {
                if (!usersList.includes(el.textContent)) {
                    usersList[index] = el.textContent;
                    const newListItem = document.createElement("option");
                    newListItem.textContent = el.textContent;
                    userList.appendChild(newListItem);
                }
            })
        }

        //-------------------- Creation of state list ---------------//
        generateStateList();

        function generateStateList() {
            statesList = [];

            tableStates.forEach((el, index) => {
                if (!statesList.includes(el.textContent)) {
                    statesList[index] = el.textContent;
                    console.log(stateList)
                    const newListItem = document.createElement("option");
                    newListItem.textContent = el.textContent;
                    stateList.appendChild(newListItem);
                }
            })
        }
        const tableRows = document.querySelectorAll("#runningJobsTable tbody tr");
        //-------------------- Filter by user and program ---------------//
        function filterTable() {
            const userValue = userList.value;
            const programValue = programList.value;
            const stateValue = stateList.value;

            for (let i = 1; i < tableRows.length; i++) {
                const userCell = tableRows[i].querySelector(".tableUser");
                const programCell = tableRows[i].querySelector(".program");
                const stateCell = tableRows[i].querySelector(".state");

                const user = userCell.textContent;
                const program = programCell.textContent;
                const state = stateCell.textContent;

                let visible = true;

                if (userValue !== 'All' && user !== userValue) {
                    visible = false;
                }

                if (programValue !== 'All' && program !== programValue) {
                    visible = false;
                }

                if (stateValue !== 'All' && state !== stateValue) {
                    visible = false;
                }

                tableRows[i].style.display = visible ? "" : "none";
            }
        }
        userFilter.addEventListener("change", filterTable);
        programFilter.addEventListener("change", filterTable);
        stateFilter.addEventListener("change", filterTable);



        //-------------------- Kill job ---------------//

        const killJobInfo = document.getElementById("killJobInfo");
        const killContent = document.getElementById("killContent");
        const yesButton = document.getElementById("yesButton");
        const cancelButton = document.getElementById("cancelButton");

        let currentKillForm = null;
        document.querySelectorAll(".killJob").forEach(btn => {
            btn.addEventListener("click", e => {
                e.preventDefault();

                const pid = btn.dataset.pid;
                currentKillForm = btn.closest("form");

                showKillWarning(pid);
            });
        });

        //-------------------- Kill Job  Warning---------------//
        function showKillWarning(pid) {
            killContent.innerHTML = '';
            killJobInfo.classList.remove("is-hidden");

            const msg = document.createElement("p");
            msg.textContent = `Do you really want to kill job with ID ${pid}?`;
            killContent.appendChild(msg);
        }

        // NO
        cancelButton.addEventListener("click", () => {
            killJobInfo.classList.add("is-hidden");
            killContent.innerHTML = '';
            currentKillForm = null;
        });

        // YES
        yesButton.addEventListener("click", () => {
            if (currentKillForm) {
                currentKillForm.submit();
            }
        });


        //-------------------- Get Dir. ---------------//
        const allGetDirButtons = document.querySelectorAll('.getDir');

        allGetDirButtons.forEach(btn => {
            btn.addEventListener("click", e => {
                const taskId = btn.dataset.taskId;
                getDir(taskId);
            });
        });

        function getDir(taskId) {
            window.location.href = `/tasks/open-dir/${taskId}/`;
        }




    </script>




    <!------------------------------------------------------------------------------------------------>
    <!------------------------------  Memory chart---------------------------------------------------->
    <!------------------------------------------------------------------------------------------------>
    <div class="chartArea">
        <div>
            <canvas id="memory_chart"></canvas>
        </div>
        <div>
            <canvas id="cpus_chart"></canvas>
        </div>
        <script src="{% static 'task_manager/chart.js' %}"></script>
        <script src="{% static 'task_manager/memory_chart.js' %}"></script>
        <script src="{% static 'task_manager/cpus_chart.js' %}"></script>
        <script>
            new Chart(memory_chart, memory_chart_config);
            new Chart(cpus_chart, cpus_chart_config);
        </script>

    </div>
</div>
{%endblock%}