<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body data-program="word">
    <article class="panel is-warning">
        <p class="panel-heading" style="text-align: center;">Tasks Manager</p>

        <p class="panel-tabs">
            <a href="overview.html">Overview</a>
            <a href="word.html" class="is-active">Word</a>
            <a href="excel.html">Excel</a>
            <a href="powerpoint.html">Powerpoint</a>
        </p>

        <div id="word" class="panel-block">
            <!------------------------------ Select project name ----------------------------------->
            <div class="selectionBlock">
                <label for="workDirWord">File Name</label>
                <input name="word_file_name" id="word_file_name" class="input is-warning, submit_value" type="text"
                    placeholder="File Name" />
            </div>


            <!------------------------------ Select working directory ------------------------------------->
            <div class="selectionBlock">
                <label for="selectWorkgDir">Working directory</label>
                <div class="select is-warning">
                    <select name="selectWorkDir" id="selectWorkDir" class="submit_value">
                    </select>
                </div>
            </div>


            <!------------------------------ Begin time  ------------------------------------->
            <div class="selectionBlock">
                <label for="begin time">Begin Time</label>
                <input name="beginTime" id="beginTime" class="input is-warning, submit_value" value="now" type="text"
                    placeholder="Default now" />
                <div class="description">
                    Now or time HH:MM, for example 5:00; or as a delay: now+36hour
                </div>
            </div>

            <!------------------------------ Max. estimated time  ------------------------------------->
            <div class="selectionBlock">
                <label for="maxTime">Max. Time [h]</label>
                <input name="maxTime" id="maxTime" class="input is-warning, submit_value, number" value="8" type="text"
                    placeholder="Default 8 hours" />
                <div class="description">
                    After this time the job <span style="color: red;">will be killed!</span>
                </div>
            </div>

            <!------------------------------ Add parameter ----------------------------------->
            <div class="selectionBlock">
                <label for="Addparameter">Add Parameter <br>(Optional)</label>
                <input name="Addparameter" id="Addparameter" class="input is-warning, submit_value" type="text"
                    placeholder="Add Parameter" />
            </div>


            <!------------------------------------------- Submit  --------------------------------------->
            <div class="buttons selectionBlock" style="text-align: center">
                <button id="submitTask" class="button is-warning">Submit</button>
            </div>

            <!-------------------------------------------Submit info  --------------------------------------->
            <article class="message is-warning is-hidden info" id="submitInfo">
                <div class="message-header">
                    <p>Submit info</p>
                </div>
                <div class="message-body">
                    <div id="submitInfoContent">
                    </div>
                    <div class="buttons" style="display: flex; justify-content: center;padding-top: 2rem; ">
                        <button class="button is-warning" id="closeButton">OK</button>

                    </div>
                </div>
            </article>
        </div>
    </article>
    <script src="taskForm.js"></script>

</body>



</html>